html,
body {
  overflow-x: hidden;
  background: #fafafa;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 999;
  background: #fafafa;
  border-bottom: 1px solid #d6d6d6;
  opacity: 0.95;
}
header .header-inner {
  position: relative;
  max-width: 740px;
  margin: 0 auto;
  height: 100%;
}
header .header-inner img {
  position: absolute;
  left: 0;
  top: 8px;
  width: 144px;
}
header .header-inner ul {
  position: absolute;
  right: 0;
  top: 5px;
  height: 30px;
  line-height: 30px;
}
header .header-inner ul li {
  float: left;
  padding: 0 15px;
}
header .header-inner ul li:nth-last-child(1) {
  display: none;
  border-radius: 3px;
  background: linear-gradient(to right, #00b4ff, #0080e2);
}
header .header-inner ul li:nth-last-child(1) a {
  font-size: 16px;
  color: #FFFFFF;
}
header .header-inner ul li a {
  font-size: 13px;
  color: #333;
}
.first-screen {
  width: 100%;
}
.first-screen .first-con {
  position: relative;
  padding: 20.3125% 50%;
}
.first-screen .first-con .img-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.first-screen .first-con .img-item:nth-last-of-type(1) {
  opacity: 0;
}
.first-screen .first-con .first-img-focus {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  padding: 4px;
  height: 12px;
}
.first-screen .first-con .first-img-focus .img-focus {
  float: left;
  margin: 0 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 0.6;
}
.first-screen .first-con .first-img-focus .img-focus.active {
  opacity: 1;
}
.first-screen .first-con .download-con {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translateX(-50%);
}
.first-screen .first-con .download-con div {
  padding: 0 45px;
  height: 74px;
  line-height: 74px;
  background: #FFFFFF;
}
.first-screen .first-con .download-con div .download-link {
  font-size: 0;
  color: #0083e4;
}
.first-screen .first-con .download-con div .download-link i {
  display: inline-block;
  width: 24px;
  height: 27px;
  background: url("../img/btn-down-blue.png") no-repeat;
}
.first-screen .first-con .download-con div .download-link span {
  font-size: 30px;
  margin-left: 10px;
}
.first-screen .first-con .download-con div .download-link.green {
  color: #009670;
}
.first-screen .first-con .download-con div .download-link.green i {
  background: url("../img/btn-down-green.png") no-repeat;
}
.first-screen .first-con .download-con p {
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 5px;
}
.first-screen .feature-con {
  position: relative;
  padding-top: 20px;
  width: 950px;
  height: 77px;
  left: 50%;
  transform: translateX(-50%);
}
.first-screen .feature-con .feature-item {
  float: left;
  width: 190px;
  text-align: center;
}
.first-screen .feature-con .feature-item a {
  width: 100%;
}
.first-screen .feature-con .feature-item a img {
  width: 50px;
  height: 50px;
}
.first-screen .feature-con .feature-item a p {
  font-size: 16px;
  color: #7b7b7b;
}
#life {
  position: relative;
  margin-top: 80px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
#life .life-bg {
  max-width: 842px;
  margin: 0 auto;
}
#life .life-bg img {
  width: 100%;
}
#life .title {
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  font-size: 42px;
}
#life .linkBox {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  color: #999;
}
#life .linkBox .link-bar {
  text-align: center;
}
#life .linkBox .link-bar li {
  display: inline-block;
}
#life .linkBox .link-bar li:after {
  content: '';
  border-left: 1px solid #999;
}
#life .linkBox .link-bar li a {
  margin: 0 10px;
  color: #999;
}
#life .linkBox p {
  margin-top: 10px;
}
